.intro-wrap {
	// background-image: url(../img/whiteBrickWall.jpg);
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// position: relative;
	scroll-margin-top: 60px;
}

.intro-hi {
	background: rgba(255,105,180, 0.65);
	border-radius: 50%;
	padding: 15px 20px;
	font-size: 40px;
	color: white;
	// animation: slide-right 5s 2;
	// animation-direction: alternate;
	// position: absolute;
	// animation: 0.3s slide-right 0.1s forwards;
	// transform: translateX(100%);
	// animation-delay: 2s;
	// display: inline-block;
}

.intro-divider {
	// margin: 0 -15px;
	width: 50%;
	border-top: 6px solid black;
	position: absolute;
	bottom: 0;
	border-radius: 30%;;
	// align: center;
	// left: 0;
	// text-align: center;
}

@keyframes slide-right {
	0% {
		left: 0px;
	}
	// 100% { background: yellow; left: 200px;}
	
}

.intro-name {
	font-size: 16px;
}

@keyframes slide {

	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.intro-name {
	font-size: 35px;
	color: hotpink;
}

.intro-role {
	font-size: 20px;
		
	line-height: 1.3em;
	padding: 40px 35px 0;
	text-align: center;
}

.intro-social {
	list-style-type: none;
	display: flex;
}

.intro-social li{
	// display: inline-block;
	padding: 30px 20px;
}

// desktop
@media all and (min-width: 960px) {
	.intro-hi {
		padding: 15px 25px;
		font-size: 90px;
	}

	.intro-name {
		font-size: 75px;
	}

	.intro-role {
		font-size: 30px;
		padding-top: 50px;
	}

}
