.resume-wrap {
	height: 100vh;
	// margin-top: 64px;
	// scroll-margin-top: 100px;
	// top: 100px;
	padding: 85px 0 30px;
}

.resume-title {
	// display: block;
	// margin: 0, auto;
	padding-bottom: 10px;
	text-align: center;
}

.resume-pdf {
	width: 88%;
	height: 100%;
	margin: 0 auto;
	display: block;
}
