/* .App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}



.portfolio-body {
  background-image: url(./img/whiteBrickWall.jpg);
  background-attachment: fixed;
	min-height: 50vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* margin-top: 64px; */
  /* margin-top: 65px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}